* {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;

}

.logo {
  width: 45vw;
  margin: 2vw 0 2vw 0;
  max-width: 140px;
  border-radius: 50%;
  box-shadow: 10px 8px 10px pink;
  margin-bottom: 2vh;
}

.carousel{
	justify-content: center;
	width: 40vw;
}

.slide img {;
  border-radius: 10px;
  object-fit: scale-down;
}

.mainContainer{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.botones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}

.botones img{
	width: 70vw;
	max-width: 60px;

}

body{
	width: 100vw;
	background: linear-gradient(to right, #fef4ff, #ffe4ec);
}

.btn{
	background-color:transparent;
	margin-top: 2vw;
	margin-left: 4vw;
	margin-right: 4vw;
}

@media screen and (min-width: 1px) and (max-width: 1000px){
	.carousel{
		width: 100vw;
	}
}

