:root{
	--background-color: linear-gradient(to right, #ffa8eb, #fff2eb, #ffec98)!important;
	--transform: translateY(-10px);
	--box-shadow: 0px 12px 16px gray;
	--background-color-btn: #9e54c9!important;
 }